cachetools==6.1.0
chardet==5.2.0
colorama==0.4.6
coverage==7.10.2
distlib==0.4.0
filelock==3.18.0
iniconfig==2.1.0
packaging==25.0
platformdirs==4.3.8
pluggy==1.6.0
Pygments==2.19.2
pypdf==5.9.0
pyproject-api==1.9.1
pytest==8.4.1
pytest-cov==6.2.1
ruff==0.12.7
tox==4.28.4
virtualenv==20.33.1
